@page "/image-edit/{variantId:guid}"
@layout MainLayout

<div class="edit-root">

    <!-- 画像エリア -->
    <MudPaper Class="cropper-main">
        <div id="crop-container">
            <img id="edit-image" src="@GetPreviewImage()" onload="window.cropper.init()" />

            <div id="crop-frame" class="@GetCropFrameClass()">
                <div class="handle handle-nw"></div>
                <div class="handle handle-ne"></div>
                <div class="handle handle-sw"></div>
                <div class="handle handle-se"></div>
            </div>
        </div>
    </MudPaper>

    <!-- 下部バー -->
    <MudPaper Class="cropper-bottom-bar">
        <MudStack Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
            <MudIconButton Icon="@Icons.Material.Filled.Rotate90DegreesCcw" OnClick="Rotate90" />
            <MudIconButton Icon="@GetShapeIcon()" OnClick="ToggleShape" />
            <MudIconButton Icon="@Icons.Material.Filled.Lock"
                           Color="@((AspectLocked) ? Color.Primary : Color.Default)"
                           OnClick="ToggleAspectLock" />
        </MudStack>
    </MudPaper>

</div>
